<div class="repo-container" [@enterAnimation] *ngIf="repo">

  <a class="avatar-column desktop-only" [href]="repo.owner.html_url" target="_blank">
    <img class="avatar" [src]="repo.owner.avatar_url" [alt]="repo.owner.login">
    <p class="username">{{ repo.owner.login }}</p>
  </a>

  <div class="repo-info-column">
    <div>
      <div class="flex-row-between">
        <a class="repo-name" [href]="repo.html_url" target="_blank">{{ repo.full_name }}</a>
        <div class="star-box">
          <p>{{ repo.stargazers_count | toLocale }}</p>
          <img src="./assets/icons/star.svg" alt="Stars">
        </div>
      </div>
      <p class="repo-description">{{ repo.description }}</p>
    </div>

    <div class="flex-row-between repo-data-row">
      <p class="repo-language" [style.background-color]="getColor(repo.language)">{{ repo.language }}</p>
      <div class="repo-dates-box">
        <p>Updated: {{repo.updated_at | date:'mediumDate' }}</p>
        <p>Created: {{repo.created_at | date:'mediumDate' }}</p>
      </div>
    </div>
  </div>

</div>