@import "~variables.scss";

.repo-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2em;
  margin: 2em 0 1em;
  min-height: 10em;
}

.avatar-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4.5em;
  &:hover, &:focus {
    .username {
      color: $medium-gray;
    }
  }
}

.avatar {
  width: 4.5em;
  height: auto;
}

.username {
  margin-top: .5em;
  font-size: .9em;
  color: $light-gray;
  max-width: 100%;
  word-wrap: break-word;
}

.repo-name {
  font-weight: $bold;
  color: $blue;
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  cursor: pointer;
  &:hover, &:focus {
    color: $dark-blue;
  }
}

.repo-info-column {
  margin-left: 1.75em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  width: calc(100% - 6em);
}

.repo-description {
  color: $dark-gray;
  font-size: .9em;
  margin: .75em 0;
}

.repo-language {
  border-radius: 1em;
  padding: .3em .8em;
  font-weight: $bold;
  font-size: .8em;
  color: white;
}

.repo-name-column {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 3.5em);
}

.repo-data-row {
  margin-top: .5em;
}

.star-box {
  img {
    height: .95em;
    float: right;
    margin-top: .05em;
    margin-left: .2em;
  }
  p {
    display: inline;
    color: $dark-gray;
    font-size: .9em;
  }
}

.repo-dates-box {
  display: flex;
  flex-direction: row;
  p {
    font-size: .85em;
    margin-left: 1em;
    color: $light-gray;
  }
}

@media(max-width: 600px) {
  .avatar-column {
    display: none;
  }

  .repo-dates-box {
    flex-direction: column;
  }

  .avatar {
    width: 3.5em;
  }

  .repo-name {
    font-size: 1em;
  }

  .repo-data-row {
    align-items: flex-end;
  }

  .repo-info-column {
    margin-left: 0;
    width: 100%;
  }
}