@import "~variables.scss";

form {
  width: calc(100% - 4em);
  display: inline-flex;
  height: 3em;
  flex-direction: row;
}

.spinner {
  width: 3em;
  float: right;
}

.search-input {
  width: calc(100% - 3.5em);
  height: 100%;
  -webkit-appearance: none;
  padding-left: 9px;
  font-size: 1.1em;
  background-color: #fff;
  border-radius: 6px 0px 0px 6px;
  border-width: 1px 0px 1px 1px;
  border-color: $medium-gray;
  border-style: solid;
  box-shadow: 0px 0px 9px #dbdbdb inset;
  &::placeholder {
    color: $light-gray;
  }
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
}

.search-input:focus, .search-input:focus + .search-button {
  outline: 0;
  border-color: $blue;
}

.search-button {
  cursor: pointer;
  width: 4.5em;
  height: 100%;
  border-radius: 0px 6px 6px 0px;
  border: 1px solid #7d7d7d;
  background-color: #368cc6;
  img {
    width: 55%;
  }
  &:focus, &:hover {
    outline: none;
    background-color: $dark-blue;
  }
}

@media(max-width: 600px) {
  .search-button {
    width: 3.5em;
  }

  .search-input {
    font-size: 16px;
  }
}

@media(min-width: 1800px) {
  .search-button {
    width: 6em;
  }
}