<div class="app-container">
  <div class="title">
    <h1><span id="github-logo"><img alt="GitHub Search" src="./assets/icons/github_mark.svg"></span> GitHub Search</h1>
  </div>

  <search-bar (enter)="setQuery($event)" [loading]="loading"></search-bar>

  <p class="error-message" *ngIf="error">Could not load results. Please try again.</p>

  <div class="flex-row-between" *ngIf="resultsLoaded && !error">
    <p class="large-text">
      <span class="bold">{{ repoCount | toLocale }}</span> {{ repoCount === 1 ? 'result' : 'results' }} found. 
    </p>
    <sort-menu [sortBy]="sortBy" (switch)="setSortBy($event)"></sort-menu>
  </div>

  <repo-block *ngFor="let repo of repos" [repo]="repo"></repo-block>
</div>
