<div class="app-container">
  <div class="title">
    <h1><span id="github-logo"><img alt="GitHub Search" src="./assets/icons/github_mark.svg"></span> GitHub Search</h1>
  </div>

  <searchbar (enter)="search($event)"></searchbar>

  <div class="flex-row-between" *ngIf="resultsLoaded" >
    <p class="large-text">
      <span class="bold">{{ repoCount }}</span> {{ repoCount === 1 ? 'result' : 'results' }} found. 
      <span *ngIf="repos.length < repoCount">Showing top {{ repos.length }}.</span>
      <!-- total search result count often greater than the actual number of repos returned. -->
      <!--  if so, tell the user how many are being shown -->
    </p>
    <sortmenu [sortBy]="sortBy"></sortmenu>
  </div>



  <p *ngFor="let repo of repos">{{ repo.full_name }}</p>
</div>
