@import "~variables.scss";

.app-container {
  width: 75%;
  margin-left: 10%;
  margin-top: 8vw;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  color: #000;
}

#github-logo {
  display: inline-block;
  img {
    width: auto;
    height: 1.5em;
  }
}

#search-input {
  width: 100%;
  height: 50px;
  padding-left: 9px;
  font-size: 1.1em;
  background-color: #fff;
  background-image: url('../assets/icons/glass.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 9px);
  background-size: 25px;
  border-radius: 6px;
  border: 1px solid $medium-gray;
  -webkit-box-shadow:0 0 9px #dbdbdb inset;
  -moz-box-shadow:0 0 9px #dbdbdb inset;
  box-shadow:0 0 9px #dbdbdb inset;
  &::placeholder {
    color: $light-gray;
  }
  &:focus {
    outline: 0;
    border-color: $blue;
  }
}