<div class="app-container">
  <div class="title">
    <h1><span id="github-logo"><img alt="GitHub Search" src="./assets/icons/github_mark.svg"></span> GitHub Search</h1>
  </div>

  <app-search-bar (enter)="setQuery($event)" [loading]="loading"></app-search-bar>

  <p class="error-message" *ngIf="error">Could not load results. Please try again.</p>

  <div class="flex-row-between search-results-info" *ngIf="resultsLoaded && !error">
    <p class="large-text">
      <span class="bold">{{ repoCount | toLocale }}</span> {{ repoCount === 1 ? 'result' : 'results' }} found. 
    </p>
    <app-sort-menu [sortBy]="sortBy" (switch)="setSortBy($event)"></app-sort-menu>
  </div>

  <!-- desktop only repos -->
  <!-- on desktop, we went only the title and avatar to be links -->
  <app-repo-block class="desktop-only" *ngFor="let repo of repos" [repo]="repo"></app-repo-block>

  <!-- mobile only repos -->
  <!-- on mobile, we want the entire repo to be a link -->
  <a *ngFor="let repo of repos" class="mobile-only" [href]="repo.html_url">
    <app-repo-block [repo]="repo"></app-repo-block>
  </a>

  <div class="button-row">
    <button *ngIf="pages.prev" (click)="switchPage('prev')" class="page-button prev">Previous</button>
    <button *ngIf="pages.next" (click)="switchPage('next')" class="page-button next">Next</button>
  </div>

</div>
