@import "~variables.scss";

.app-container {
  width: 75%;
  margin-left: 10%;
  margin-top: 100px;
}

#github-logo {
  display: inline-block;
  img {
    width: auto;
    height: 1.5em;
  }
}

.title {
  margin-bottom: 1.1em;
}