<div class="repo-container">

  <div class="avatar-column">
    <img class="avatar" [src]="repo.owner.avatar_url" alt="repo.owner.login">
    <p class="username">{{ repo.owner.login }}</p>
  </div>

  <div class="repo-info-column">
    <div class="flex-row-between">
      <div class="repo-name-column">
        <a>{{ repo.full_name }}</a>
        <p>{{ repo.description }}</p>
      </div>
      <div class="star-box">
        {{ repo.stargazers_count }}
        <img src="./assets/icons/star.svg" alt="Stars">
      </div>
    </div>

    <div class="flex-row-between">
      <p class="repo-language">{{ repo.language }}</p>
      <div class="repo-dates-row">
        <p>Updated: </p>
        <p>Created: </p>
      </div>
    </div>
  </div>

</div>